.appWrapper{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
}
.createGroupWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(47, 47, 47, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.createBox{
    background-color: white;
    max-width: 46.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 5rem;
    border-radius: 16px;
    position: relative;
}
.title{
font-size: 1.8125rem;
font-weight: 500;
letter-spacing: 0.06344rem;
margin-bottom: 10px;
}
.inputColor,
.inputName{
font-size: 1.50713rem;
font-weight: 500;
letter-spacing: 0.05975rem;
display: flex;
justify-content: space-around;
align-items: center;
gap: 1rem;
}
.inputName input{
    border: solid 1px #979797;
    border-radius: 16px;
    padding: 0.5rem 1.5rem;
    color: #979797;
font-size: 1.2rem;
font-weight: 400;
line-height: 160.188%; /* 2.30269rem */
letter-spacing: 0.05031rem;
}
.inputColor button{
    width: 25px;
    height: 25px;
    border:none;
    border-radius: 50%;
}
.createBtn{
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    align-self: flex-end;
    border: none;
    border-radius: 16px;
    margin-top: 10px;
    background-color: #001F8B;
    color: white;
}